@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.ttf') format('truetype');
    /* Add other font formats here if needed */

  }
@font-face {
  font-family: 'Dancing Script normal';
  src: url('../fonts/DancingScript-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Dancing Script medium';
  src: url('../fonts/DancingScript-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'CupCake';
  src: url('../fonts/SVN-AZ\ Cupcakes.otf') format('truetype');
}
@font-face {
  font-family: 'Helga';
  src: url('../fonts/SVN-Helga.otf') format('truetype');
}
@font-face {
  font-family: 'Ruthie';
  src: url('../fonts/Ruthie-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SVN';
  src: url('../fonts/SVN-Grocery\ Rounded.ttf') format('truetype');
}

